@import "~bootstrap/scss/functions";
@import "./variables.scss";
@import "~bootstrap/scss/mixins/_box-shadow.scss";
@import "~bootstrap/scss/mixins/_hover.scss";
@import "~bootstrap/scss/mixins/_buttons.scss";
@import "~bootstrap/scss/mixins/_transition.scss";


$main-padding-left: 20px;
$main-padding-top: 70px;

/* Main */
.main {
    padding-top: $main-padding-top;
}

/* Main */

/*
*** SIDEBAR
*/
$card-spacer-x: 0.5rem;
$card-spacer-y: 0.5rem;

$sidebar-width: 250px;
$sidebar-mini-width: 50px;

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  width: $sidebar-width;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar.mini {
  min-width: $sidebar-mini-width;
  max-width: $sidebar-mini-width;
}

.sidebarfooter {
  bottom: 0;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
}

.sidebarfooter.mini {
  bottom: 0;
  min-width: $sidebar-mini-width;
  max-width: $sidebar-mini-width;
}

.btn-sidebar {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  padding: 0px;
  line-height: $btn-line-height;
  @include transition($btn-transition);

  @include hover() {
     color: theme-color("primary");
     text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled) {
    cursor: if($enable-pointer-cursor-for-buttons, pointer, null);

    &:active,
    &.active {
      @include box-shadow($btn-active-box-shadow);
      border-left: 2px solid $yellow;

      &:focus {
        @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
      }
    }
  }
}

.SideBarTitle{
    padding-left:5px;
}

.SideBarTitle.mini{
  display:none;
}

.card-body-sidebar {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
    color: $body-color;
}

.card-header-sidebar {
    padding-left:6px;
    padding-right: 0;
}

.list-group-item-sidebar {
    position: relative;
    display: block;
    padding: .75rem 0;
    padding-left:6px;
    background-color: #fff;
    //border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-sidebar.selected {
  background-color: $light;
  border-left: 3px $yellow solid;
}

.list-group-item-settings {
    position: relative;
    display: block;
    padding: .75rem 0;
    padding-left:6px;
    // border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-settings.selected {
  background-color: $light;
  border-left: 3px $yellow solid;
}


/* SIDEBAR - end */
//767.98
@media (max-width: 575.98px) {
  .main
  .main.mini  {
    padding-left: 10px;
  }

  .disclaimer{
    display: inline-block;
    color: gray;
    padding-left: 10px;
  }

  // .sidebar.mini {
  //   min-width: $sidebar-width;
  //   max-width: $sidebar-width;
  // }

  .disclaimer.mini{
    display: none;
  }

  #dropdown-programs{
    width: 250px !important;
  }

  a.dropdown-item{
    width: 250px !important;
  }

  #dropdown-CycleType{
    width: 120px !important;
  }

  .btn.btn-dropdown {
    margin: 0px;
    padding: 0px;
    width: 50px;
    text-align: center;
    display: inline;
  }

  .btn-dropdown-text{
    display:none;
  }

  .card-width-650{
    width: 300px;
  }
  
  .keyboardContainer{
    display:none;
  }
}

@media (min-width: 576px) and (max-width: 1024px){
  .main.container-fluid {
    padding-left: $sidebar-width + $main-padding-left;
  }

  .disclaimer{
    display: inline-block;
    color: gray;
    padding-left: 10px;
  }

  .main.mini{
    padding-left: $sidebar-mini-width + $main-padding-left;
  }

  .disclaimer.mini{
    display: none;
  }

  .btn-dropdown-text{
    display: none;
  }

  #dropdown-programs{
    width: 250px !important;
  }

  a.dropdown-item{
    width: 250px !important;
  }

  #dropdown-CycleType{
    width: 120px !important;
  }

  .card-width-650{
    width: 650px;
  }
}

@media (min-width: 1024.2px) {

  .main.container-fluid {
    padding-left: $sidebar-width + $main-padding-left;
  }

  .main.mini{
    padding-left: $sidebar-mini-width + $main-padding-left;
  }

  .disclaimer{
    display: inline-block;
    color: gray;
    padding-left: 10px;
  }
  
  .disclaimer.mini{
    display: none;
  }

  .btn-dropdown-text{
    display: inline-block;
  }

  #dropdown-programs{
    width: 300px !important;
  }

  #dropdown-CycleType{
    width: 120px !important;
  }

  a.dropdown-item{
     width: 300px !important;
  }

  .card-width-650{
    width: 650px;
  }

  .keyboardContainer{
    display:none;
  }
}

/* NavBar - start */

.NavBarDateTime{
  color: white;
  margin:0px;
  font-size: small;
  text-align: center;
}

.NavBarTemperature{
  color: white;
  margin:0px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: small;
  text-align: center;
}
.NavBarHumidity{
  color: white;
  margin:0px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: small;
  text-align: center;
}

/* NavBar - end */

#dropdown-programs{
  // width: 240px !important;
  text-align: left;
  padding-left: 5px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: static;
}

#dropdown-programs::after {
  position: absolute;
  right: 10px;
  top: 50%;
}

#dropdown-programs-menu{
  width: 100% !important;
}

#dropdown-programs:hover {
  color: $yellow;
}

a.dropdown-item{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#HamburgerButton{
  background-color: transparent;
  border-color: transparent;
  color: white;
  margin-left: 0px;
  padding-left: 0px;
}

.btn.btn-fermenta:hover {
  color: $yellow;
}

.show>.btn.btn-fermenta.dropdown-toggle {
  color: $yellow;
}

.btn.btn-icon {
  margin: 0px;
  padding: 0px;
  max-width: calc(1.5em + 0.75rem + 2px);
  max-height: calc(1.5em + 0.75rem + 2px);
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loading-frame{
  position: relative;
  height: 100%;
}

.alert.alert-fermenta{
  position: absolute;
  top: 100px;
  right: 10px;
}

.dropdown-item.selected{
  background-color: $light;
  border-left: 3px $yellow solid;
}

#tdCollapse{
  padding: 0px;
  padding-left: 50px;
  border: 1px;
}
#trBorder{

  border: 1px;
}


.align-middle{
  align-items: center; 
}

.hidden {
  display: none;
}

@import "~bootstrap/scss/bootstrap";